.containerFinal{

  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  
}


.sair {
  margin-top: 10px;
  background-color: #fbde40;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  transition: all .4s;
  text-decoration: none;
  padding: 1rem 1rem;
  align-self: flex-end;  
}

.sair:hover {
  background-color: #fff;
  color: #fbde40;
  border: 0px solid #fbde40;
}


@media screen and (max-width: 420px){
  .containerFinal{
    width: 80%;
   
  }
}