.containerTela1{
  display: flex;

}

.Informacoes1{  
  width: 50%;
  margin-right: 2rem; 
}



/* CONJUNTOS */

.nome,
.cpf,
.tel, .localizacao {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 60%;
}

.nome{
  width: 100%;  
}


/* conjunto 3 */

.localizacao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-direction: row;
  width: 100%;
}




.img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-items: center;

}

.img img {

  width: 95%;
  height: 70%;
}