.containerTela3 {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.InformacoesTela3 {
  width: 50%;
  margin-right: 2rem;
}


.nome,
.cpf,
.numeroDeContato,
.localizacao,
.especialidade,
.precoDaConsulta,
.FormasDePagamento {
 margin-bottom: .3rem;
}

.informacoesFinais{
  font-size: 14px;
}



.links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.botaoDeCadastro{
  background-color: #fbde40;
  width: 100%;
  border-radius: .8rem;
  text-align: center;
  font-weight: bold;
  color: #282828 ;
  padding: .4rem 1rem;
  transition: all .4s;
}

.botaoDeCadastro:hover{
  background-color: #ffe766;}

.editarCadastro{
  margin-top: 10px;
  color: #483698;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  transition: all .4s;
  font-size: 11px;

}

.img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img {

  width: 95%;
  height: 70%;
}