
.container {
  width: 100vw;
  height: 100vh;
  background-color: #ffe766;
  font-family: 'Open Sans', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}


.BotaoDeVoltar{
  height: 20px;
  width: 20px;
  position: relative;
  top: -20px;
  left: -410px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.conteudos {
  width: 40%;
  margin-right: 4rem;
  padding-left: 1rem;
}



.conteudos .formularioFinal {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.formularioFinal label {
  font-size: 16px;
  font-weight: 500px;
}


.formularioFinal div>div {
  font-size: 14px;
}


/* botoes */


.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.botaoDeCadastro {
  margin-top: 2rem;
  background-color: #fbde40;
  color: #282828;
  text-transform: uppercase;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  height: 1.8rem;
  line-height: 1.8rem;
  font-weight: 600;
  transition: all .4s;
  text-decoration: none;
}

.botaoDeCadastro:hover {
  background-color: #fff;
  color: #fbde40;
  border: 0px solid #fbde40;

}

.editarCadastro {
  background-color: #fff;
  color: #483698;
  width: 15rem;
  line-height: 10px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-top: 1.5rem;
}




/*  Segundo lado */

.img {
  width: 100%;

  display: flex;
  align-items: center;
  justify-items: center;
}

.img img {

  width: 95%;
  height: 70%;
  margin-top: 5rem;

}