@media screen and (max-width: 420px) {


  html, body{
    max-width: 100%;
    max-height: 100vh;
  }


  :root{
    width: 100%;
    max-height: 100vh;
  }

  main {
    width: 100vw;
    position: relative;
    bottom: -35px;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    height: 100vh;  
    padding: 0;
  }
}